# base stuff
django
django-getenv
django-redis
dj-database-url
psycopg2
pytz

# application server
uwsgi

# testing
pytest
pytest-django
pytest-xdist
pytest-cov
pytest-selenium
flake8
coverage
ipdb

# logging
python-logstash

# monitoring
newrelic
raven
